@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(207, 191, 221);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.medusa {
    height: 200px;
    width: 200px;
    position: fixed;
    right: 0;
    bottom: 0;
}

div.ia21-player {
    margin-top: 5em;
    border: 10px solid rgb(125, 71, 170);
    border-radius: 6px;
    border-style: outset;
    width: 70rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(150, 124, 172);
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 7em rgb(113, 60, 156);
}

div.ia21-player video {
    width: 100%;
}

div.ia21-player .contraillers {
    display: flex; /*É quem decide o tamanho das propriedades filhas*/
    border-top: 3px solid rgb(125, 71, 170);
    column-gap: .4em; /*Distancia entre os blocos*/
    padding-right: .4em;
}

div.ia21-player div.contraillers button.player-pause {
    background-color: transparent;
    border: 0 none;
    border-right: 3px solid rgb(125, 71, 170);
    cursor: pointer;
    line-height: 1em;
    width: 3em;
}

div.ia21-player div.contraillers div.dragbar {
    flex-grow: 1;
    position: relative;
    cursor: pointer;
}

div.ia21-player div.contraillers div.dragbar::before {
    content: " ";
    position: absolute;
    border-top: 2px solid rgb(0, 0, 0);
    min-width: 100%;
    top: calc(50% - .5px); /*Permite o uso de propriedades diferentes*/
    cursor: pointer;
}

div.ia21-player div.contraillers div.dragbar div.draggable {
    --percent: 0;
    background-color: black;
    width: .5em;
    height: .5em;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - .25em);
    left: calc(var(--percent) - .25em);
    pointer-events: none; /*Remove interação com a bolinha*/
}

div.ia21-player div.contraillers button.iconVolume, button.iconRepetir, 
button.iconVoltar, button.iconPassar {
    cursor: pointer;
    background-color: transparent;
    border: 0 none;
    line-height: 1em;
    width: 3em;
    border-right: 3px solid rgb(125, 71, 170);
}

div.ia21-player div.contraillers, 
button.iconVoltar, button.iconPassar {
    border-left: 3px solid rgb(125, 71, 170);
}

div.ia21-player div.contraillers div.dragbar div.timeline {
    width: 30%;
}

div.ia21-player div.controllers div.timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.ia21-player div.contraillers div.dragbar.timeline {
    width: 30%;
}
